#result{
    color: red;
    display: none;
}

#buttons{
    /* position: absolute;
    top: 150px */
}

.questions{
    /* position: absolute; */
    /* top: 100px;
    left: 50px; */
    /* display: none; */
}

#question1{
    display: none
}

#question2{
    display: none
}

